<div class="container-fluid m-0 p-0" style="min-height: 100vh;">

  <!-- heading -->
  <div class="mt-3 mb-3">
      <h4 class="text-muted text-warning">Your trainings</h4>
      <hr>
  </div>

  <!-- first row -->
  <div class="row pe-2 mt-3">
      <div class="col-sm-4 text-center">
          <a href="" style="text-decoration: none;" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <div class="card shadow">
                  <div class="card-body">
                      <h6>New Training</h6>
                      <h5>+</h5>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-sm-4 text-center">
          <a style="text-decoration: none;" >
              <div class="card shadow">
                  <div class="card-body">
                      <h6 class="text-danger">Total Trainings</h6>
                      <h5>{{trainings.length}}</h5>
                  </div>
              </div>
          </a>
      </div>
  </div>

   <!-- second row -->
   <div class="row pe-2 mt-3">
    <div class="col-sm-12 text-center">
      <div>
        <div class="card shadow">
          <div class="card-body">
            <h6 class="text-danger">List of Trainings</h6>
            <table class="table table-hover border mt-3">
              <thead>
                <tr>
                  <th scope="col">Title of training</th>
                  <th scope="col">Starting date</th>
                  <th scope="col">End date</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let t of trainings">
                  <td>{{t.titleOfTraining}}</td>
                  <td>{{t.startingDate}}</td>
                  <td>{{t.endDate}}</td>
                  <td>
                      <button type="button" class="btn btn-outline-secondary me-2" (click)="viewTraining(t)" data-bs-toggle="modal" data-bs-target="#viewModal">View</button>
                      <button type="button" class="btn btn-outline-danger" (click)="deleteTraining(t)">Delete</button>
                  </td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- add vaccine center course -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Training</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="trainingDetailsForm" (ngSubmit)="addTraining()">

            <div class="row">
              <div class="col-12">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" formControlName="titleOfTraining" >
                  <label for="floatingInput">Training title</label>
                  <div *ngIf="trainingDetailsForm.get('titleOfTraining')?.invalid && (trainingDetailsForm.get('titleOfTraining')?.dirty || trainingDetailsForm.get('titleOfTraining')?.touched)" class="text-danger">
                    This is required field
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" formControlName="orgInstName" >
                  <label for="floatingInput">Organizing Institute Name</label>
                  <div *ngIf="trainingDetailsForm.get('orgInstName')?.invalid && (trainingDetailsForm.get('orgInstName')?.dirty || trainingDetailsForm.get('orgInstName')?.touched)" class="text-danger">
                    This is required field
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" formControlName="unversityName" >
                  <label for="floatingInput">University Name</label>
                  <div *ngIf="trainingDetailsForm.get('unversityName')?.invalid && (trainingDetailsForm.get('unversityName')?.dirty || trainingDetailsForm.get('unversityName')?.touched)" class="text-danger">
                    This is required field
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-3">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" formControlName="city" >
                  <label for="floatingInput">City</label>
                  <div *ngIf="trainingDetailsForm.get('city')?.invalid && (trainingDetailsForm.get('city')?.dirty || trainingDetailsForm.get('city')?.touched)" class="text-danger">
                    This is required field
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" formControlName="state" >
                  <label for="floatingInput">State</label>
                  <div *ngIf="trainingDetailsForm.get('state')?.invalid && (trainingDetailsForm.get('state')?.dirty || trainingDetailsForm.get('state')?.touched)" class="text-danger">
                    This is required field
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" formControlName="country" >
                  <label for="floatingInput">Country</label>
                  <div *ngIf="trainingDetailsForm.get('country')?.invalid && (trainingDetailsForm.get('country')?.dirty || trainingDetailsForm.get('country')?.touched)" class="text-danger">
                    This is required field
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" formControlName="pincode" >
                  <label for="floatingInput">Pincode</label>
                  <div *ngIf="trainingDetailsForm.get('pincode')?.invalid && (trainingDetailsForm.get('pincode')?.dirty || trainingDetailsForm.get('pincode')?.touched)" class="text-danger">
                    This is required field
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-3">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" formControlName="academicYear" >
                  <label for="floatingInput">Academic Year</label>
                  <div *ngIf="trainingDetailsForm.get('academicYear')?.invalid && (trainingDetailsForm.get('academicYear')?.dirty || trainingDetailsForm.get('academicYear')?.touched)" class="text-danger">
                    This is required field
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-floating mb-3">
                  <input type="date" class="form-control" formControlName="startingDate" >
                  <label for="floatingInput">Starting date</label>
                  <div *ngIf="trainingDetailsForm.get('startingDate')?.invalid && (trainingDetailsForm.get('startingDate')?.dirty || trainingDetailsForm.get('startingDate')?.touched)" class="text-danger">
                    This is required field
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-floating mb-3">
                  <input type="date" class="form-control" formControlName="endDate" >
                  <label for="floatingInput">End Date</label>
                  <div *ngIf="trainingDetailsForm.get('endDate')?.invalid && (trainingDetailsForm.get('endDate')?.dirty || trainingDetailsForm.get('endDate')?.touched)" class="text-danger">
                    This is required field
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-floating mb-3">
                  <select class="form-select" id="recognition" formControlName="recognizedBy">
                    <option disabled>Select</option>
                    <option *ngFor="let rec of institutes" value="{{rec}}">{{rec}}</option>
                  </select>
                  <label for="floatingInput">Recognized by</label>
                  <div *ngIf="trainingDetailsForm.get('recognizedBy')?.invalid && (trainingDetailsForm.get('recognizedBy')?.dirty || trainingDetailsForm.get('recognizedBy')?.touched)" class="text-danger">
                    This is required field
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-3">
                <div class="form-floating mb-3">
                  <select class="form-select" id="modeOfTraining" formControlName="mode">
                    <option disabled>Select</option>
                    <option *ngFor="let mode of modes" value="{{mode}}">{{mode}}</option>
                  </select>
                  <label for="floatingInput">Mode of training</label>
                  <div *ngIf="trainingDetailsForm.get('mode')?.invalid && (trainingDetailsForm.get('mode')?.dirty || trainingDetailsForm.get('mode')?.touched)" class="text-danger">
                    This is required field
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" formControlName="fees" >
                  <label for="floatingInput">Fees</label>
                  <div *ngIf="trainingDetailsForm.get('fees')?.invalid && (trainingDetailsForm.get('fees')?.dirty || trainingDetailsForm.get('fees')?.touched)" class="text-danger">
                    This is required field
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" formControlName="fees_paid" >
                  <label for="floatingInput">Fees paid</label>
                  <div *ngIf="trainingDetailsForm.get('fees_paid')?.invalid && (trainingDetailsForm.get('fees_paid')?.dirty || trainingDetailsForm.get('fees_paid')?.touched)" class="text-danger">
                    This is required field
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-floating mb-3">
                  <select class="form-select" id="modeOfTraining" formControlName="sponsorship">
                    <option disabled>Select</option>
                    <option *ngFor="let type of sponsorship" value="{{type}}">{{type}}</option>
                  </select>
                  <label for="floatingInput">Sponsorship</label>
                  <div *ngIf="trainingDetailsForm.get('sponsorship')?.invalid && (trainingDetailsForm.get('sponsorship')?.dirty || trainingDetailsForm.get('sponsorship')?.touched)" class="text-danger">
                    This is required field
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-3">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" formControlName="venue" >
                  <label for="floatingInput">Venue</label>
                  <div *ngIf="trainingDetailsForm.get('venue')?.invalid && (trainingDetailsForm.get('venue')?.dirty || trainingDetailsForm.get('venue')?.touched)" class="text-danger">
                    This is required field
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" formControlName="staff_id" value="(trainingDetailsForm.get('staff_id')">
                  <label for="floatingInput">Staff ID </label>
                  <div *ngIf="trainingDetailsForm.get('staff_id')?.invalid && (trainingDetailsForm.get('staff_id')?.dirty || trainingDetailsForm.get('staff_id')?.touched)" class="text-danger">
                    This is required field
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-floating mb-3">
                  <select class="form-select" id="modeOfTraining" formControlName="typeOfTraining">
                    <option disabled>Select</option>
                    <option *ngFor="let type of typeOfTraining" value="{{type}}">{{type}}</option>
                  </select>
                  <label for="floatingInput">Type of training</label>
                  <div *ngIf="trainingDetailsForm.get('typeOfTraining')?.invalid && (trainingDetailsForm.get('typeOfTraining')?.dirty || trainingDetailsForm.get('typeOfTraining')?.touched)" class="text-danger">
                    This is required field
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-floating mb-3">
                  <select class="form-select" id="modeOfTraining" formControlName="category">
                    <option disabled>Select</option>
                    <option *ngFor="let type of category" value="{{type}}">{{type}}</option>
                  </select>
                  <label for="floatingInput">Category</label>
                  <div *ngIf="trainingDetailsForm.get('category')?.invalid && (trainingDetailsForm.get('category')?.dirty || trainingDetailsForm.get('category')?.touched)" class="text-danger">
                    This is required field
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <div class=" mb-3">
                  <input class="form-control" type="file" id="formFile" (change)="uploadFile($event)">
                  <label for="floatingInput" class="mt-1 text-muted">Certificate</label>
                  <div *ngIf="trainingDetailsForm.get('certificate')?.invalid && (trainingDetailsForm.get('certificate')?.dirty || trainingDetailsForm.get('certificate')?.touched)" class="text-danger">
                    This is required field
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3 me-auto ms-auto">
                  <button class="btn btn-outline-primary" type="submit" [disabled]="trainingDetailsForm.invalid"  data-bs-dismiss="modal" >Submit</button>
                </div>
              </div>
            </div>


        </form>
      </div>
    </div>
  </div>
</div>

  <!-- View Training -->
  <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="exampleModalLabel" >Training Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <div class="row mb-3">
              <div class="col-12">
                <p> <span class="h6">Title of Training :</span>  {{trainingDetailsForm.value.titleOfTraining}}</p>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-6">
                <p> <span class="h6">Organizing Institute :</span>  {{trainingDetailsForm.value.orgInstName}}</p>
              </div>
              <div class="col-6">
                <p> <span class="h6">University name : </span>   {{trainingDetailsForm.value.unversityName}}</p>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-3">
                <p> <span class="h6">City : </span>  {{trainingDetailsForm.value.city}}</p>
              </div>
              <div class="col-3">
                <p> <span class="h6">State : </span>  {{trainingDetailsForm.value.state }}</p>
              </div>
              <div class="col-3">
                <p> <span class="h6">Country : </span>  {{trainingDetailsForm.value.country }}</p>
              </div>
              <div class="col-3">
                <p> <span class="h6">Pincode : </span>   {{trainingDetailsForm.value.pincode}}</p>
              </div>
            </div>

             <div class="row mb-3">
              <div class="col-3">
                <p> <span class="h6">Academic Year  : </span>  {{trainingDetailsForm.value.academicYear}}</p>
              </div>
              <div class="col-3">
                <p> <span class="h6">Starting date : </span>  {{trainingDetailsForm.value.startingDate}}</p>
              </div>
              <div class="col-3">
                <p> <span class="h6">End date : </span>  {{trainingDetailsForm.value.endDate}}</p>
              </div>
              <div class="col-3">
                <p> <span class="h6">Recognized By : </span>  {{trainingDetailsForm.value.recognizedBy}}</p>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-3">
                <p> <span class="h6">Mode of training : </span>  {{trainingDetailsForm.value.mode}}</p>
              </div>
              <div class="col-3">
                <p> <span class="h6">Fees :  </span>  {{trainingDetailsForm.value.fees}}</p>
              </div>
              <div class="col-3">
                <p> <span class="h6">Fees paid:  </span>  {{trainingDetailsForm.value.fees_paid}}</p>
              </div>
              <div class="col-3">
                <p> <span class="h6">Sponsorship:  </span>  {{trainingDetailsForm.value.sponsorship}}</p>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-3">
                <p> <span class="h6">Venue:  </span>  {{trainingDetailsForm.value.venue}}</p>
              </div>
              <div class="col-3">
                <p> <span class="h6">Staff ID:  </span>  {{trainingDetailsForm.value.staff_id}}</p>
              </div>
              <div class="col-3">
                <p> <span class="h6">Type of training:  </span>  {{trainingDetailsForm.value.typeOfTraining}}</p>
              </div>
              <div class="col-3">
                <p> <span class="h6">Category :  </span>  {{trainingDetailsForm.value.category}}</p>
              </div>
            </div>

            <div class="row mb-3">
              <a href="{{trainingDetailsForm.value.certificate}}" target="_blank" style="text-decoration: none;">Show certificate</a>
            </div>

        </div>
      </div>
    </div>
  </div>

</div>
