<div class="container-fluid m-0 p-0" style="min-height: 100vh">
  <!-- heading -->
  <div class="mt-3 mb-3">
    <h4 class="text-muted text-warning">Overview</h4>
    <hr />
  </div>

  <!-- first row -->
  <div class="row pe-2 mt-3">
    <div class="col-sm-4 text-center">
      <div>
        <div class="card shadow">
          <div class="card-body">
            <h6 class="text-success">Total Students</h6>
            <h5>{{studentArr.length}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <div>
        <div class="card shadow">
          <div class="card-body">
            <h6 class="text-danger">Total Faculty</h6>
            <h5>{{facultyArr.length}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <div>
        <div class="card shadow">
          <div class="card-body">
            <h6 class="text-primary">Total Trainings</h6>
            <h5>{{trainingArr.length}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- second row -->
  <div class="row pe-2 mt-3">
    <div class="col-sm-6 text-center">
      <div>
        <div class="card shadow">
          <div class="card-body">
            <h6 class="text-danger">Departments</h6>
            <table class="table table-hover border mt-3">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Department Name</th>
                  <th scope="col">HOD</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Information Technology</td>
                  <td>Mr. A.B.Patil</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Computer Science</td>
                  <td>Mr. S.K.Kulkarni</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Civil Engineering</td>
                  <td>Mr. P.K.Malvankar</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Mechanical Engineering</td>
                  <td>Mr. R.K.Shevale</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Electrical Engineering</td>
                  <td>Mr. M.B.Kambale</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>Electronics Engineering</td>
                  <td>Mrs. C.K.Datta</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <div>
        <div class="card shadow">
          <div class="card-body">
            <h6 class="text-danger">Intake</h6>
            <table class="table table-hover border mt-3">
              <thead>
                <tr >
                  <th scope="col"></th>
                  <th scope="col">Department Name</th>
                  <th scope="col">Capacity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Information Technology</td>
                  <td>60</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Computer Science</td>
                  <td>120</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Civil Engineering</td>
                  <td>60</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Mechanical Engineering</td>
                  <td>60</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Electrical Engineering</td>
                  <td>60</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>Electronics Engineering</td>
                  <td>60</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
